[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://www.analyticsdojo.com)
<center><h1>Introduction to R - Datastructures</h1></center>
<center><h3><a href = "http://www.analyticsdojo.com">www.analyticsdojo.com</a></h3></center>

### Links: [local](http://localhost:8888/notebooks/classes/04-intro-r/intro-r-datastructures.ipynb) [github](https://github.com/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/04-intro-r/intro-r-datastructures.ipynb) [slides](http://nbviewer.jupyter.org/format/slides/github/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/04-intro-r/intro-r-datastructures.ipynb#/)

# Overview
Common to R and Python
- Vectors
- Opearations on Numeric and String Variables
- Lists

## Vectors in R
- The most basic form of an R object is a vector. 
- In fact, individual (scalar) values (variables) are vectors of length one.
- An R vector is a single set of values in a particular order of the **same type**. 
- We can concatenate values into a vector with c(): `ages<-c(18,19,18,23)`
- Comparable Python objects include Panda Series and single dimensional numpy array. 
- While Python arrays start at 0, R arrays start at index position 1.

In [23]:

ages<-c(18,19,18,23)
ages
ages[1]
ages[2:4]

[1] 18 19 18 23

[1] 18

[1] 19 18 23

## Vectors Type in R
- Items in a vector must be of the same type. 
- *Character.* These are the clear character vectors. (Typically use quotes to add to these vectors.)
- *Numeric.* Numbers in a set. Note there is not a different type.
- *Boolean.* TRUE or FALSE values in a set.
- *Factor.* A situation in which there is a select set of options. Things such as states or zip codes. These are typically things which are related to dummy variables, a topic we will discuss later.
- Determine the data type by using the `str` command: `str(teachers)`

In [62]:
names<-c("Sally", "Jason", "Bob", "Susy") #Text
female<-c(TRUE, FALSE, FALSE, TRUE)  #While Python uses True and False, R uses TRUE and FALSE.
teachers<-c("Smith", "Johnson", "Johnson", "Smith")
teachers.f<-factor(teachers)
grades<-c(20, 15, 13, 19) #25 points possible
gradesdec<-c(20.32, 15.32, 13.12, 19.32) #25 points possible

str(names)
str(female)
str(teachers)  
str(teachers.f) 
str(grades)    #Note that the grades and gradesdec are both numeric.
str(gradesdec) #Note that the grades and gradesdec are both numeric.

 chr [1:4] "Sally" "Jason" "Bob" "Susy"
 logi [1:4] TRUE FALSE FALSE TRUE
 chr [1:4] "Smith" "Johnson" "Johnson" "Smith"
 Factor w/ 2 levels "Johnson","Smith": 2 1 1 2
 num [1:4] 20 15 13 19
 num [1:4] 20.3 15.3 13.1 19.3

## Strings in R
- Lot's of different types of operations we can perform on Strings.

In [95]:
chars <- c('hi', 'hallo', "mother's", 'father\'s', "He said, \'hi\'" )
length(chars)
nchar(chars)
paste("bill", "clinton", sep = " ")  # paste together a set of strings
paste(chars, collapse = ' ')  # paste together things from a vector

strlist<-strsplit("This is the Analytics Dojo", split = " ") #This taks a string ant splits to a list
strlist
substring(chars, 2, 3) #this takes the 2nd-3rd character from the sentance above 
chars2 <- chars
substring(chars2, 2, 3) <- "ZZ"  #this takes the 2nd-3rd character from the sentance above 
chars2

[1] 5

[1]  2  5  8  8 13

[1] "bill clinton"

[1] "hi hallo mother's father's He said, 'hi'"

[[1]]
[1] "This"      "is"        "the"       "Analytics" "Dojo"

[1] "i"  "al" "ot" "at" "e "

[1] "hZ"            "hZZlo"         "mZZher's"      "fZZher's"
[5] "HZZsaid, 'hi'"

## Factors in R 
- A factor is a special data type in R used for categorical data. In some cases it works like magic and in others it is incredibly frustrating.

In [63]:
class(teachers.f) # What order are the factors in?
levels(teachers.f)  # note alternate way to get the variable
summary(teachers.f) #gives the count for each level.

[1] "factor"

[1] "Johnson" "Smith"

Johnson   Smith
      2       2

## Creating Vectors in R
- Concatenate fields to a vector: `nums <- c(1.1, 3, -5.7)`
- Generate random values from normal distribution with `devs <- rnorm(5)`
- idevs <- sample(ints, 100, replace = TRUE)

In [25]:
# numeric vector
nums <- c(1.1, 3, -5.7)
devs <- rnorm(5)
devs

# integer vector
ints <- c(1L, 5L, -3L) # force storage as integer not decimal number
# "L" is for "long integer" (historical)

idevs <- sample(ints, 100, replace = TRUE)

# character vector
chars <- c("hi", "hallo", "mother's", "father\'s", 
   "She said", "hi", "He said, \'hi\'" )
chars
cat(chars, sep = "\n")

# logical vector
bools <- c(TRUE, FALSE, TRUE)
bools

[1] -0.04111807 -0.58859895 -0.89683676 -1.14514465  1.66077850

[1] "hi"            "hallo"         "mother's"      "father's"
[5] "She said"      "hi"            "He said, 'hi'"

hi
hallo
mother's
father's
She said
hi
He said, 'hi'

[1]  TRUE FALSE  TRUE

## Variable Type 
- In R when we write `b = 30` this means the value of `30` is assigned to the `b` object. 
- R is a [dynamically typed](https://pythonconquerstheuniverse.wordpress.com/2009/10/03/static-vs-dynamic-typing-of-programming-languages/).
- Unlike some languages, we don"t have to declare the type of a variable before using it. 
- Variable type can also change with the reassignment of a variable. 
- We can query the class a value using the `class` function.
- The `str` function gives additional details for complex objects like dataframes.

In [98]:
a = 1L
print (c("The value of a is ", a))
print (c("The value of a is ", a), quote=FALSE)
class(a)
str(a)

a = 2.5
print (c("Now the value of a is ", a),quote=FALSE)
class(a)
str(a)

a = "hello there"
print (c("Now the value of a is ", a ),quote=FALSE)
class(a)
str(a)

[1] "The value of a is " "1"
[1] The value of a is  1

[1] "integer"

 int 1
[1] Now the value of a is  2.5

[1] "numeric"

 num 2.5
[1] Now the value of a is  hello there

[1] "character"

 chr "hello there"

## Converting Values Between Types

- We can convert values between different types.
- To convert to string use the `as.character` function.
- To convert to numeric use the `as.integer` function.
- To convert to an integer use the `as.integer` function.
- To convert to a boolean use the `as.logical` function.

In [71]:
#This is a way of specifying a long integer.
a <- 1L
a
class(a)
str(a)
a<-as.character(a)
a
class(a)
str(a)
a<-as.numeric(a)
a
class(a)
str(a)
a<-as.logical(a)
a
class(a)
str(a)

[1] 1

[1] "integer"

 int 1

[1] "1"

[1] "character"

 chr "1"

[1] 1

[1] "numeric"

 num 1

[1] TRUE

[1] "logical"

 logi TRUE

## Quotes 
- Double Quotes are preferred in R, though both will work as long as they aren't mixed.

In [72]:
#Double Quotes are preferred in R, though both will work as long as they aren't mixed. 
a <- "hello"
class(a)
str(a)
a <- 'hello'
class(a)
str(a)

[1] "character"

 chr "hello"

[1] "character"

 chr "hello"

# Null Values

- Since it was designed by statisticians, R handles missing values very well relative to other languages.
- `NA` is a missing value

In [52]:
#Notice nothing is printed.
a=NA
a
vec <- rnorm(12)    #This creates a vector with randomly distributed values
vec[c(3, 5)] <- NA  #This sets values 3 and 5 as NA
vec                 #This prints the Vector
sum(vec)            #What is the Sum of a vector that has NA?  
sum(vec, na.rm = TRUE)   #This Sums the vector with the NA removed. 
is.na(vec)          #This returns a vector of whether specific values are equal to NA.

[1] NA

 [1] -0.9904641 -0.8335281         NA  1.4460015         NA -1.3340909
 [7]  0.7237198 -0.1050846 -0.5567700  1.1299633 -0.4483640 -0.5434364

[1] NA

[1] -1.512054

 [1] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

## Logical/Boolean Vectors
- Here we can see that summing and averaging boolean vectors treats `TRUE=1 & FALSE=0`

In [99]:
answers <- c(TRUE, TRUE, FALSE, FALSE)
update <- c(TRUE, FALSE, TRUE, FALSE)

# Here we see that True coul
sum(answers)
mean(answers)
total<-answers + update
total
class(total)

[1] 2

[1] 0.5

[1] 2 1 1 0

[1] "integer"

## R Calculations
- R can act as a basic calculator.

In [100]:
2 + 2 # add numbers
2 * pi # multiply by a constant
7 + runif(1) # add a random number
3^4 # powers
sqrt(4^4) # functions
log(10)
log(100, base = 10)
23 %/% 2 
23 %% 2

# scientific notation
5000000000 * 1000
5e9 * 1e3

[1] 4

[1] 6.283185

[1] 7.644404

[1] 81

[1] 16

[1] 2.302585

[1] 2

[1] 11

[1] 1

[1] 5e+12

[1] 5e+12

## Operations on Vectors
- R can be used as a basic calculator.
- We can do calculations on vectors easily. 
- Direct operations are much faster easier than looping.

In [38]:
vals <- rnorm(10)
squared2vals <- vals^2
sum_squared2vals <- sum(chi2vals)
count_squared2vals<-length(squared2vals)  
vals
squared2vals
sum_df1000
count_squared2vals

 [1] -1.36268482  0.08514803 -0.97940812  0.60230658  0.08480610  0.92803593
 [7] -0.38487825  0.95472768 -1.44381676 -0.04321689

 [1] 1.856909910 0.007250188 0.959240263 0.362773214 0.007192075 0.861250680
 [7] 0.148131266 0.911504947 2.084606831 0.001867700

[1] 1003.211

[1] 10

## R is a Functional Language

- Operations are carried out with functions. Functions take objects as inputs and return objects as outputs. 
- An analysis can be considered a pipeline of function calls, with output from a function used later in a subsequent operation as input to another function.
- Functions themselves are objects. 
- We can get help on functions with help(lm) or ?lm

In [ ]:
vals <- rnorm(10)
median(vals)
class(median)
median(vals, na.rm = TRUE)
mean(vals, na.rm = TRUE)
help(lm)
?lm
?log

## Matrix 
- Multiple column vector
- Matrix is useful for linear algebra
- Matrix must be **all of the same type**
- Could relatively easily do regression calculations using undlerlying matrix

In [43]:
#This is setup a matrix(vector, nrow,ncol)
mat <- matrix(rnorm(12), nrow = 3, ncol = 4)
mat
# This is setup a matrix(vector, rows)
A <- matrix(1:12, 3)
B <- matrix(1:12, 4)
C <- matrix(seq(4,36, by = 4), 3)
A
B
C

             [,1]       [,2]       [,3]       [,4]
[1,] -0.329878604 -0.9443296 -1.3971416  0.1553389
[2,]  0.146816679  1.6587666  1.0691428 -0.8658753
[3,] -0.007435879 -0.2902709 -0.3964959 -0.3584898

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

     [,1] [,2] [,3]
[1,]    4   16   28
[2,]    8   20   32
[3,]   12   24   36

## Slicing Vectors and Matrixs
- Can use matrix[rows,columns] with specificating of row/column index, name, range.

In [77]:
vec <- rnorm(12)
mat <- matrix(vec, 4, 3)
rownames(mat) <- letters[1:4] #This assigns a row name
vec
mat

 [1]  1.3424111  0.4247202  0.1964412 -1.8146203 -0.2688102 -0.1716381
 [7]  0.7983612  0.2868977  0.4641955 -0.4537964 -2.1103896  0.5271502

        [,1]       [,2]       [,3]
a  1.3424111 -0.2688102  0.4641955
b  0.4247202 -0.1716381 -0.4537964
c  0.1964412  0.7983612 -2.1103896
d -1.8146203  0.2868977  0.5271502

In [78]:
#Slicing Vector
vec[c(3, 5, 8:10)] # This gives position 3, 5, and 8-10

[1]  0.1964412 -0.2688102  0.2868977  0.4641955 -0.4537964

In [89]:
# matrix[rows,columns]  leaving blank means all columns/rows
mat[c('a', 'd'), ]
mat[c(1,4), ]
mat[c(1,4), 1:2]
mat[c(1,4), c(1,3)] #Notice when providing a list we surround with c
mat[, 1:2]          #When providing a range we use a colon.

       [,1]       [,2]      [,3]
a  1.342411 -0.2688102 0.4641955
d -1.814620  0.2868977 0.5271502

       [,1]       [,2]      [,3]
a  1.342411 -0.2688102 0.4641955
d -1.814620  0.2868977 0.5271502

       [,1]       [,2]
a  1.342411 -0.2688102
d -1.814620  0.2868977

       [,1]      [,2]
a  1.342411 0.4641955
d -1.814620 0.5271502

        [,1]       [,2]
a  1.3424111 -0.2688102
b  0.4247202 -0.1716381
c  0.1964412  0.7983612
d -1.8146203  0.2868977

## Lists
- Collections of disparate or complicated objects.
- Can be of multiple different types. 
- Here we assign individual values with the list with `=`.
- Slice the list with the index position or the name.

In [118]:
#myList <- list(stuff = 3, mat = matrix(1:4, nrow = 2), moreStuff = c('china', 'japan'), list(5, 'bear'))
myList<-list(stuff=3,mat = matrix(1:4, nrow = 2),vector=c(1,2,3,4),morestuff=c("Albany","New York", "San Francisco"))
myList

#
myList['stuff']
myList[2]
myList[2:3]
myList[c(1,4)]

$stuff
[1] 3

$mat
     [,1] [,2]
[1,]    1    3
[2,]    2    4

$vector
[1] 1 2 3 4

$morestuff
[1] "Albany"        "New York"      "San Francisco"

$stuff
[1] 3

$mat
     [,1] [,2]
[1,]    1    3
[2,]    2    4

$mat
     [,1] [,2]
[1,]    1    3
[2,]    2    4

$vector
[1] 1 2 3 4

$stuff
[1] 3

$morestuff
[1] "Albany"        "New York"      "San Francisco"

## CREDITS

Copyright [AnalyticsDojo](http://www.analyticsdojo.com) 2016
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.

Adopted from the [Berkley R Bootcamp](https://github.com/berkeley-scf/r-bootcamp-2016).