[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://www.analyticsdojo.com)
<center><h1>Introduction to R - DataFrames</h1></center>
<center><h3><a href = 'http://www.analyticsdojo.com'>www.analyticsdojo.com</a></h3></center>

### Links: [local](http://localhost:8888/notebooks/classes/04-intro-r/intro-r-dataframes.ipynb) [github](https://github.com/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/04-intro-r/intro-r-dataframes.ipynb) [slides](http://nbviewer.jupyter.org/format/slides/github/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/04-intro-r/intro-r-dataframes.ipynb#/)

## Introduction to R DataFrames
- Data frames are combinations of vectors of the same length, but can be of different types.
- It is a special type of list.  
- Data frames are what is used for standard rectangular (record by field) datasets, similar to a spreadsheet
- Data frames are a functionality that both sets R aside from some languages (e.g., Matlab) and provides functionality similar to some statistical packages (e.g., Stata, SAS) and Python's Pandas Packages.

In [63]:
frame=read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
class(frame)
head(frame) #The first few rows.
tail(frame) #The last few rows.
str(frame) #The Structure.
dim(frame) #Results in rows x columns
nrow(frame)  #The number of Rows
names(frame) #Provides the names
length(frame) #The number of columns
is.matrix(frame) #Yields False because it has different types.  
is.list(frame) #Yields True
class(frame$sepalLength)
class(frame$species)
levels(frame$species)

[1] "data.frame"

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
2         4.9        3.0         1.4        0.2  setosa
3         4.7        3.2         1.3        0.2  setosa
4         4.6        3.1         1.5        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

    sepalLength sepalWidth petalLength petalWidth   species
145         6.7        3.3         5.7        2.5 virginica
146         6.7        3.0         5.2        2.3 virginica
147         6.3        2.5         5.0        1.9 virginica
148         6.5        3.0         5.2        2.0 virginica
149         6.2        3.4         5.4        2.3 virginica
150         5.9        3.0         5.1        1.8 virginica

'data.frame':	150 obs. of  5 variables:
 $ sepalLength: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ sepalWidth : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ petalLength: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ petalWidth : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ species    : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

[1] 150   5

[1] 150

[1] "sepalLength" "sepalWidth"  "petalLength" "petalWidth"  "species"

[1] 5

[1] FALSE

[1] TRUE

[1] "numeric"

[1] "factor"

[1] "setosa"     "versicolor" "virginica"

## Slicing a Dataframe by Column
- Remember the syntax of `df[rows,columns]` 
- Using `dataframe$column` provides one way of selecting a column. 
- We can also specify the index position: `dataframe[,columnIndex]`
- We can also specify the column name: `dataframe[,columnsName]`

In [50]:
sepalLength1<-frame$sepalLength #Using Dollar Sign and the column name.
sepalLength2<- frame[,1]  #Using the Index Location
sepalLength3<- frame[,'sepalLength']

sepalLength1[1:5]  #Print the first 5  
sepalLength2[1:5]
sepalLength3[1:5]

[1] 5.1 4.9 4.7 4.6 5.0

[1] 5.1 4.9 4.7 4.6 5.0

[1] 5.1 4.9 4.7 4.6 5.0

## Selecting Rows
- We can select rows from a dataframe using index position: `dataframe[rowIndex,columnIndex]`. 
- Use `c(row1, row2, row3)` to select out specific rows.

In [55]:
frame2<-frame[1:20,]   
frame3<-frame[c(1,5,6),] #This selects out specific rows
nrow(frame2)
nrow(frame3)
frame3

[1] 20

[1] 3

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

## Conditional Statements and Dataframes with Subset
- We can select subsets of a dataframe by putting an equality in the row or subset. 
- Subset is also a dataframe. 
- Can optionally select columns with the `select = c(col1, col2)`

In [95]:
setosa.df <- subset(frame, species == 'setosa')

head(setosa.df)
class(setosa.df)
nrow(setosa.df)
mean.sepalLenth.setosa<-mean(setosa.df$sepalLength) #This creates a new vector
mean.sepalLenth.setosa
setosa.df.highseptalLength <- subset(setosa.df, sepalLength > mean.sepalLenth.setosa)
nrow(setosa.df.highseptalLength)
head(setosa.df.highseptalLength)
setosa.dfhighseptalLength2 <- subset(setosa.df, sepalLength > mean.sepalLenth.setosa, select = c(sepalLength, species))
head(setosa.dfhighseptalLength2)

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
2         4.9        3.0         1.4        0.2  setosa
3         4.7        3.2         1.3        0.2  setosa
4         4.6        3.1         1.5        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

[1] "data.frame"

[1] 50

[1] 5.006

[1] 22

   sepalLength sepalWidth petalLength petalWidth species
1          5.1        3.5         1.4        0.2  setosa
6          5.4        3.9         1.7        0.4  setosa
11         5.4        3.7         1.5        0.2  setosa
15         5.8        4.0         1.2        0.2  setosa
16         5.7        4.4         1.5        0.4  setosa
17         5.4        3.9         1.3        0.4  setosa

   sepalLength species
1          5.1  setosa
6          5.4  setosa
11         5.4  setosa
15         5.8  setosa
16         5.7  setosa
17         5.4  setosa

## Subsetting Rows Using Indices
- Just like pandas, we are using conditional statements to specify specific rows. 
- See [here](http://www.ats.ucla.edu/stat/r/faq/subset_R.htm) for good coverage and examples.

In [89]:
setosa.df <- frame[frame$species == "setosa",]
head(setosa.df)
class(setosa.df)
nrow(setosa.df)
mean.sepalLenth.setosa<-mean(setosa.df$sepalLength) #This creates a new vector
mean.sepalLenth.setosa
setosa.df.highseptalLength <- setosa.df[setosa.df$sepalLength > mean.sepalLenth.setosa,]
nrow(setosa.df.highseptalLength)
head(setosa.df.highseptalLength)

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
2         4.9        3.0         1.4        0.2  setosa
3         4.7        3.2         1.3        0.2  setosa
4         4.6        3.1         1.5        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

[1] "data.frame"

[1] 50

[1] 5.006

[1] 22

   sepalLength sepalWidth petalLength petalWidth species
1          5.1        3.5         1.4        0.2  setosa
6          5.4        3.9         1.7        0.4  setosa
11         5.4        3.7         1.5        0.2  setosa
15         5.8        4.0         1.2        0.2  setosa
16         5.7        4.4         1.5        0.4  setosa
17         5.4        3.9         1.3        0.4  setosa

In [92]:
specific.df <- frame[frame$sepalLength %in% c(5.1,5.8),]
head(specific.df)

   sepalLength sepalWidth petalLength petalWidth species
1          5.1        3.5         1.4        0.2  setosa
15         5.8        4.0         1.2        0.2  setosa
18         5.1        3.5         1.4        0.3  setosa
20         5.1        3.8         1.5        0.3  setosa
22         5.1        3.7         1.5        0.4  setosa
24         5.1        3.3         1.7        0.5  setosa

## CREDITS

Copyright [AnalyticsDojo](http://www.analyticsdojo.com) 2016
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.
Adopted from [Berkley R Bootcamp](https://github.com/berkeley-scf/r-bootcamp-2016).